@import './styles/reboot';
@import './styles/variables';

:root { 
  --primary-color: #{$primary-color-light};
  --secondary-color: #{$secondary-color-light};
  --background-color: #{$background-color-light};
  --text-color: #{$text-color-light};
  --muted-text: #{$muted-text-light};
  --accent-color: #{$accent-color-light};
  --border-color: #{rgba($color: $border-color-light, $alpha: 0.25)};
  --border-color-sec: #{rgba($color: $border-color-light, $alpha: 0.1)};
  --background-color-sec: #{$background-color-sec-light};
  --background-color-ter: #{$background-color-ter-light};
  --bg-filter-color: #{rgba($background-color-sec-light, 0.8)};
  --card-bg: #{$card-bg-light};
   &.dark{
    --primary-color: #{$primary-color-dark};
    --secondary-color: #{$secondary-color-dark};
    --background-color: #{$background-color-dark};
    --background-color-sec: #{$background-color-sec-dark};
    --background-color-ter: #{$background-color-ter-dark};
    --bg-filter-color: #{rgba($background-color-sec-dark, 0.8)};
    --text-color: #{$text-color-dark};
    --muted-text: #{$muted-text-dark};
    --accent-color: #{$accent-color-dark};
    --border-color: #{rgba($color: $border-color-dark, $alpha: 0.25)};
    --border-color-sec: #{rgba($color: $border-color-dark, $alpha: 0.1)};
    --card-bg: #{$card-bg-dark};
  }
}

body {
    font-family: sans-serif;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
  }
