$primary-color-light: #4A90E2;    // A calm, professional blue for primary elements (e.g., buttons, links).
$secondary-color-light: #50e3c2;  // A soft green for secondary actions or accents.
$background-color-light: #F5F7FA;
$background-color-light-sec: #bac6c3; // A very light gray for a clean background.
$text-color-light: #333333;       // Dark gray for readable text on light background.
$accent-color-light: #F8E71C;     // A bright yellow for highlights or calls to action.
$border-color-light: #E1E1E1;     // Light gray for borders and dividers.
$card-bg-light: #FFFFFF;          // Pure white for card backgrounds or containers.


$primary-color-dark: #2196F3;     // A more intense blue for primary elements in dark mode.
$secondary-color-dark: #4CAF50;   // A vibrant green for secondary elements.
$background-color-dark: #121212;
$background-color-dark-sec: #636c6a;  // Very dark gray for the background, reducing strain on the eyes.
$text-color-dark: #EEEEEE;        // Light gray for readable text on a dark background.
$accent-color-dark: #FFC107;      // A warm yellow-orange for accents or highlights.
$border-color-dark: #444444;      // Darker gray for borders and dividers.
$card-bg-dark: #1E1E1E;           // A dark background for containers or cards.