@import '../../styles/variables';
@import '../../styles/mixins';

.idea-page-cont {
    @include middle-style;
}


.idea-container {
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 1.5rem;
  background-color: $card-bg-light;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  overflow-wrap: break-word;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eaeaea;

  .idea-title {
    font-size: 1.6rem;
    font-weight: 600;
    color: $text-color-light;
  }

  .creator-info {
    margin-left: 1rem; // Space between category and creator link
    .creator-link {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 0.9rem;
      color: $primary-color-light;
      font-weight: 500;
      transition: color 0.2s;

      &:hover {
        color: darken($primary-color-light, 10%);
      }
    }
  }

  .idea-category {
    background-color: $primary-color-light;
    color: white;
    padding: 0.4rem 1rem;
    border-radius: 999px;
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-left: 1rem; // Space between creator link and category
  }
}

.idea-description {
  color: $text-color-light;
  font-size: 1rem;
  line-height: 1.6;
  margin: 15px 0 20px;
}

.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .interactions {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: auto; // Aligns to the left
  }

  .action-buttons {
    margin-left: auto; // Aligns to the right
    position: relative;

    .dots {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 1.2rem;

      &:hover {
        color: $primary-color-light; // Add hover effect
      }
    }

    .dropdown-menu {
      position: absolute;
      top: 30px; // Adjust the position as needed
      right: 0;
      background: white;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      z-index: 1000;

      button {
        padding: 10px;
        border: none;
        width: 100%;
        text-align: left;

        &:hover {
          background-color: $primary-color-light;
          color: white;
        }
      }
    }
  }
}

// Make the comments section take the full width
.comments-section {
  margin-top: 20px; // Space above the comments
  width: 100%; // Ensures full width
  border-top: 1px solid #eaeaea; // Optional: border for separation
  padding-top: 15px; // Space between the top border and comments
}

.loading-message {
  text-align: center;
  font-size: 1.2rem;
  color: $text-color-light;
}
