@import '../../styles/variables';

@mixin flex-center {
  display: flex;
  justify-content: center;
}

.nav-cont {
  position: fixed;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  height: 5rem;
}

.logo {
  height: 2rem;
  fill: var(--primary-color);
  stroke: var(--primary-color);
  stroke-width: 5px;
}

.logo-outer-cont {
  @include flex-center();
  width: 25%;
  background-color: var(--background-color-sec);
  height: 100%;
  padding: .5rem 0rem;
  justify-content: start;
  padding-left: 4.5rem;
}

.logo-inner-cont {
  display: flex;
  font-size: x-large;
  font-weight: bold;
  align-items: center;
  gap: .5rem;
  padding: 1rem;
  color: var(--primary-color);
}

.transparent-cont{
  width: 75%;
  display: flex;
  align-items: center;
  height: 100%;
  background: transparentize($color: #ffffff00, $amount: 0.7);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--border-color-sec);
  .search-outer-cont {
    @include flex-center();
    background: transparent;
    width: 66.66%;
    background: none;
    height: 100%;
    align-items: center;
  }
  
  .search-cont {
    display: flex;
    align-items: center;
    position: relative;
    width: fit-content;
input[type="search"]::-webkit-search-cancel-button {
  filter: invert(39%) sepia(82%) saturate(328%) hue-rotate(182deg) brightness(92%) contrast(92%);
  cursor: pointer;
}

    
  }
  
  .searchBar {
    all: unset;
    padding-right: 1.5rem;
    padding-left: .3rem;
    height: 2rem;
    border-radius: .5rem;
    border: 1px solid var(--border-color);
  }
  
  .searchBar:focus {
    outline: 2.5px solid gray;
    outline-offset: 2.5px;
  }
  
  .mag-glass {
    position: absolute;
    right: 0.2rem;
    color: var(--primary-color);
    height: 1.25rem;
  }
  
  .h-icons-cont {
    @include flex-center();
    flex: auto;
    // background-color: white;
    background: none;
    height: 100%;
    padding: 1.5rem;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 2.5rem;
  
    >button{
      background-color: var(--background-color);
      border: none;
      color: var(--primary-color);
      margin-left: 2rem;
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 2rem;
      cursor: pointer;
      outline: 1.5px solid var(--border-color);
      &:hover{
        background-color: var(--background-color-sec);
        // outline: 2px solid var(--primary-color);
      }
    }
  }
}

