@import '../../../styles/variables';
@import '../../../styles/mixins';

.trend-cont {
  @include middle-style;
  margin: 0 auto; 
  padding: 20px; 

  h2{
    font-size: 2rem;
    color: $primary-color-dark;
    display: flex;
    align-items: center;
    gap: .5rem;
  }

  .filters{
    left: 26%;
    right: 1%;
    width: 73%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    background: var(--bg-filter-color); 
    padding: 10px 20px; 
    border-radius: 5px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 9;
    top: 5.25rem;
    position: fixed;

    label {
      margin: 0 10px;
      color: $primary-color-dark;
      font-weight: bold;
    }

    select {
      margin: 0 15px; 
      padding: 8px; 
      border-radius: 5px; 
      border: 2px solid $secondary-color-light;
      transition: border-color 0.2s;
      background: none;
      color: var(--text-color);
      background: var(--bg-filter-color);
      ;

      &:hover {
        border-color: $primary-color-light;
      }
    }
  }

  .ideas-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); 
    padding-top: 9rem; 
  }

}

@media (max-width: 768px) {
  .trend-cont {
    @include middle-style;
    padding: 0%;
    margin: 0%;

    .filters {
      width: 95%;
      margin-left: auto;
      margin-right: auto;
      margin-top: .25rem;
      // background-color: red;
      left: 0%;
      padding: .25rem;
      flex-wrap: wrap;
      border-radius: 10px;

      >h2 {
        flex-basis: 100%; 
        display: flex;
        justify-content: center;
        margin-bottom: .5rem;
      }
      >div{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: .5rem;
        width: 100%;
      }

      
      // .filter-cont1 {
      //   background-color: blue;
      //   text-align: center;
      //   flex: content;
      //   padding: 0%;
      //   // display: flex;
      //   // flex-direction: column;
      // }
      // .filter-cont2 {
      //   background-color: blue;
      //   text-align: center;
      //   flex: auto;
      //   padding: 0%;
      //   // display: flex;
      //   // flex-direction: column;
      // }
      select{
        font-size: .75rem;
        margin: 0;
        flex: auto;
      }
    }

    .ideas-container {
      grid-template-columns: none;
      display: flex;
      flex-direction: column;
      padding-top: 10rem;
      >div{
        margin-bottom: 0;
      }
    }
  }
}