@import '../../../styles/variables';

.creator-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.9rem;
    color: $primary-color-light;
    font-weight: 500;
    transition: color 0.2s;

    &:hover {
      color: darken($primary-color-light, 10%);
    }
  }