@import '../../../styles/variables';
@import '../../../styles/mixins';

.main-cont{
    @include middle-style;

    .ideas-container {
        display: grid; // Use grid for layout
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); // Responsive columns
        gap: 20px; // Space between cards
      }
    
      p {
        text-align: center;
        font-size: 1rem;
        color: $text-color-light; // Use your text color for consistency
      }
}