@import '../../../styles/variables';
@import '../../../styles/mixins';

.main-cont{
    @include middle-style;

    .ideas-container {
        display: grid; 
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); 
        @media (max-width: 768px){
          grid-template-columns: none;
          display: flex;
          flex-direction: column;
          >div{
            margin-bottom: 0;
          }
        }
      }
    
      p {
        text-align: center;
        font-size: 1rem;
        color: var(--text-color); 
      }
}