@import './variables';

@mixin middle-style{
    position: absolute;
    left: 25%;
    width: 75%;
    height: 100%;
    padding: 0% 1rem;
    padding-top: 5rem;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
}