@import '../../styles/variables';

.rightAside-cont{
    width: 20%;
    height: 100vh;
    position: fixed;
    right: 0;
    background-color: white;
    color: $text-color-light;
    display: flex;
    justify-content: center;
    padding-top: 6rem;
}