@import './../../../styles/variables';

// Modal overlay
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background-color: rgba(0, 0, 0, 0.5); // Using the variable for background
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; // Ensure it appears above other elements
  // Modal content
.modal-content {
  background-color: var(--background-color-sec);
  padding: 2rem;
  border-radius: 1rem;
  width: 90%;
  max-width: 700px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);;
  position: relative;
  top: 20rem;
  left: auto;
  right: auto;
  border: 1px solid $primary-color-light;

  .modal-cont{
    background-color: var(--background-color);
    overflow: hidden;
    border-radius: .5rem;
    

  >div {
    padding: 1rem;
    padding-top: 0;
  }
  }

  >button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    &:hover{
      color: var(--primary-color);
    }
  }

}
}


