@import '../../../styles/variables';

.search-heading{
  margin-bottom: 2rem;
  color: var(--primary-color);
  font-size: 1.5rem;
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  padding: 1rem;
  z-index: 99;
  box-shadow: 0px -10px 1px black;
}

.search-modal{
    display: flex;
    gap: 1rem;

    h3{
      color: var(--text-color);
    }
    >*{
      flex: auto;
    }
    >:nth-child(2){
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: .5rem;
      border-left: 1px solid var(--border-color-sec);
      h3{
        width: 100%;
        text-align: start;
        padding-left: 2rem;
      }
      // >div{
      //   margin-left: 4.5rem;
      // }
      .no-creators {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
        color: hsl(220, 9%, 56%); // Muted gray color for text
      
        .no-creators-icon {
          margin-bottom: 10px;
          color: #9ca3af; // Icon color
        }
      
        .no-creators-message {
          font-size: 1.25rem;
          font-weight: 600;
          margin-bottom:  .25rem;
        }
      
        .no-creators-suggestion {
          font-size: 0.9rem;
          color: hsl(216, 15%, 60%); // Slightly darker text for the suggestion
        }
      }
      .creator-h3{
        text-align: center;
        padding-left: 0;
      }
      
    }

}

.creator-link-search {
    padding-left: 1rem;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.9rem;
    color: var(--primary-color);
    font-weight: 500;
    transition: color 0.2s;

    &:hover {
      color: darken($primary-color-light, 10%);
    }
    &[data-status="loading"] {
      margin-left: 4.5rem;
    }
    h4{
      text-align: start;
    }
  }

  .end-of-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    color: hsl(222, 9%, 56%); // Muted gray color for text
  
    .end-divider {
      width: 60%;
      border: 0;
      border-top: 1px solid #e5e7eb; // Light gray line
      margin: 10px 0;
    }
  
    .end-icon {
      color: #9ca3af; // Icon color
      margin: 8px 0;
    }
  
    .end-message {
      font-size: 1rem;
      font-weight: 500;
      margin-top: 5px;
    }
  }
  @media (max-width: 768px){
    .search-heading{
      width: 100%;
    }
    .search-modal{
      flex-direction: column;
      
    }
  }
  