.menu-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding-top: 7rem; 
    background-color: var(--background-color-ter);
    position: fixed;
    z-index: 30;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0); 
    >div{
        flex: auto;
    }
}

.menu-overlay.active {
    transform: translateX(0);
}
.menu-overlay.inactive{
    transform: translateX(100%);
}
@media (min-width: 768px) {
    .menu-overlay {
        display: none;
    }
}
